body {
  background-color: $colour-bg;
  font-family: "Lato", sans-serif;
}

.h1-news {
  font-family: "Playfair Display", serif;
  margin-bottom: 50px;
  color: $colour-pink;
}
.page-item.active .page-link {
  color: #fff;
  background-color: $colour-pink;
  border-color: $colour-pink;
}
.page-link {
  color: $colour-pink;
  border-color: $colour-pink;
}
.page-link:hover {
  color: #fff;
  border-color: $colour-pink;
  background-color: $colour-pink;
}
.card-container {
  margin-top: 20px;
  margin-bottom: 20px;
}
.news-btn {
  background-color: $colour-pink;
  border-color: $colour-pink;
}
.news-btn:hover {
  background-color: $colour-pink;
  border-color: $colour-pink;
}
.bg-light {
  background-color: #fff !important;
}
